* {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.hero {
    color: #fff;
    background-color: #23272b;
    font-family: "Abril Fatface";

    
}

.cart-row {
    img {
        max-width: 75px;
    }
}
.shop {

    .card-add {
        display: flex;
    }
}

.cart {
    width: 100%;
    input {
        max-width: 4em;
    }

    .fa-trash {
        pointer-events: none;
    }
}